<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />

    <script
      src="https://kit.fontawesome.com/1bcd2404f3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body data-theme="dark">
    <%- include('../partials/header'); -%> <%if(error && error.length > 0){ %>
    <% console.log(error[0]) %> <% } %> <%if(success && success.length > 0){ %>
    <% console.log(success[0])%> <% } %> <% if(!currentUser){%>
    <div class="" gridlayout2></div>
    <% }else{%>
    <div class="gridlayout">
      <div class="functionality">
        <a href="/projects/new"><Button>New Project</Button></a>
      </div>
      <%}%>

      <!-- Searchbar -->
      <br />
      <div class="container">
        <div>
          <form class="searchbar grid" action="/projects/search" method="get">
            <input type="text" name="dsearch" placeholder="Search" />
            <Button type="submit"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></Button>
          </form>
          <select class="options" name="options">
            <option value="name">Search by Project Name</option>
            <!-- <option value="author">Search by Project Author</option> -->
            <option value="supervisor">Search by Supervisor</option>
          </select>
        </div>
        <div></div>
      </div>
    </div>
    <br />

    <div class="projectlist container">
      <h1>Project List</h1>

      <% projects.forEach(function(project){%>

      <article class="project">
        <header class="projectName">
          <strong><%= project.title %></strong>
        </header>
        <div class="description">
          Abstract: <%= project.abstract ? `${project.abstract.slice(0,30)}...`:
          'No abstract available!' %>
        </div>
        <div class="projectAuthor">Authors: <%= project.authors %></div>
        <div class="supervisor">Supervisor: <%=project.supervisor%></div>
        <br />
        <div class="grid">
          <!-- Extra grids for spacing -->
          <div></div>
          <div></div>
          <a href="/projects/<%= project._id%>" role="button">More info</a>
          <div></div>
          <div></div>
        </div>
      </article>
      <% }) %>
    </div>

    <!-- Login Modal -->
    <dialog id="about-modal">
      <article>
        <header>
          <a
            href="#close"
            aria-label="Close"
            class="close"
            onclick="closeAboutModal()"
          ></a>
          Log In
        </header>
        <form action="/login" method="post">
          <div class="formcontainer">
            <input
              class="emaildesign"
              type="text"
              name="username"
              placeholder="Username"
            />
            <input
              class="passworddesign"
              type="password"
              name="password"
              placeholder="Password"
            />
            <Button
              class="loginbutton"
              type="submit"
              value="login"
              action="/login"
              method="post"
              >Login</Button
            >
          </div>
          <hr />
        </form>
      </article>
    </dialog>
  </body>
</html>
<br /><br />

<style>
  .projectName {
    font-size: 1.4rem;
  }
</style>

<script>
  let modal = document.querySelector("#about-modal");
  let isModalOpen = false;
  document.addEventListener("keypress", (e) => {
    console.log(e.key);
    if (isModalOpen && e.key == "Escape") closeAboutModal();
  });
  function closeAboutModal() {
    isModalOpen = false;
    document.querySelector("html").classList.remove("modal-is-open");
    document.querySelector("html").classList.add("modal-is-closing");
    setTimeout(() => {
      modal.removeAttribute("open");
      document.querySelector("html").classList.remove("modal-is-closing");
    }, 400);
  }
  function openAboutModal() {
    console.log(`opening`);
    isModalOpen = true;
    document.querySelector("html").classList.add("modal-is-open");
    modal.setAttribute("open", "true");
  }
</script>
