
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    </head>
<body>
    
        <!-- <div class="navbar">
            <div class="heading">Final Year Major Project Database</div>
            <% if(!currentUser){%>
            <% }else{%>
             <div class="signedInfo"> Signed In as: <%= currentUser.username%> </div>
            <%}%>
        </div> -->
        <%- include('../partials/header'); -%> 
        
            <article class="project "> 
            <header>
              <div class="grid">
                <div class="pjName"><strong><%= project.title %></strong></div>
                  <% if(currentUser  && project.author.filter(e => e.id.equals(currentUser._id)).length > 0 ){%>
                    <a href="/projects/<%= project._id %>/edit" role="button">Edit</a> 
                    <form action="/projects/<%= project._id %>?_method=DELETE" method="post">
                        <Button class="deleteButton">Delete</Button>
                    </form>
                  <% }%>
                <div class="status">Approved</div>
              </div>
            </header>
          </br>
            <div class="content">Authors:<%= project.authors %></div>
            <div class="content">Supervisor:<%= project.supervisor %></div>
            <div class="content">Year:<%= project.year %></div>
            <div class="content">Link:<%= project.link%></div>
            <div class="content">Abstract
                <div>
                  <%= project.abstract %>
                </div>
            </div>  
            </article>
        
        
</body>
</html> <br/><br/>

