
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    </head>
<body>
    
        <!-- <div class="navbar">
            <div class="heading">Final Year Major Project Database</div>
            <% if(!currentUser){%>
            <% }else{%>
             <div class="signedInfo"> Signed In as: <%= currentUser.username%> </div>
            <%}%>
        </div> -->
        <%- include('../partials/header'); -%> 
          <div class="container">
            <article class="project"> 
            <header>
                <div><h2><%= project.title %></h2></div>
                <div class="grid">
                  <% if(currentUser  && project.author.filter(e => e.id.equals(currentUser._id)).length > 0 ){%>

                      <a href="/projects/<%= project._id %>/edit" ><Button>Edit</Button></a> 
                      <form action="/projects/<%= project._id %>?_method=DELETE" method="post">
                          <Button class="deleteButton">Delete</Button>
                      </form>
                      <div></div>
                    <% } %>
                        <div class="status">
                          <% if(project.reviewStatus){%>
                          <h4>Approved</h4>
                          <% }else{ %>
                          <h4>Pending</h4>
                          <%}%>
                        </div>
                    </div>
            </header>
            <%  console.log(project.author[0].username) %> 
            <div>
              <strong>Authors: </strong><% for(var i =0; i< project.author[0].username.length;i++){ %>
                <%=project.author[0].username[i]%>
              <% } %> 
            </div>
            <div><strong>Supervisor: </strong><%= project.supervisor %></div>
            <div><strong>Year: </strong><%= project.year %></div>
            <div>Link: <a href=<%- project.link -%> ><%= project.link%></div></a>
            <div><strong>Abstract: </strong>
                <div>
                  <%= project.abstract %>
                </div>
            </div>  
            </article>
          </div>
        
</body>
</html> <br/><br/>

